body {
    font-family: Arial, sans-serif;
    background-color: #000;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff;
}

.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
}
