body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    margin-top: 40px;
    position: relative;
    
  }

  form {
    margin: 20px;
    display: inline-block;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #8d8d8d; /* Define uma borda padrão */
    background-color: #000; /* Define uma cor de fundo padrão */
    transition: border-color 0.5s, background-color 0.5s; /* Adiciona uma transição suave */
  }

  input:focus{
    border-color: #9600b4; /* Cor da borda ao focar */
    background-color: #ffffff; /* Cor de fundo ao focar */
    outline: none;
  }
  
  button {
    background-color: #a80000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #820000;
}
 
.loja{
  background-color: #4e0097;
  color: inherit;
  margin-top: 10px;
}

.loja:hover{
  background-color: #37006b;
}
  .error {
    color: #FF0000;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  h1{
    color: white;
  }

  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
  }

  label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  